.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  overflow-y: auto;
}

@media (min-width: 440px) {
  .productList {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (min-width: 1050px) {
  .productList {
    gap: 3rem;
  }
}

@media (min-width: 1250px) {
  .productList {
    gap: 4rem;
  }
}

@media (min-width: 1650px) {
  .productList {
    gap: 5rem;
  }
}