@mixin typography($size: 1rem, $weigth: 400){
  font-family: "Inter", sans-serif;
  font-size: $size;
  font-weight: $weigth;
}

.heading-1 {
  @include typography($size: 1.625rem, $weigth: 700);
}

.heading-2 {
  @include typography($size: 1.375rem, $weigth: 700);
}

.heading-3 {
  @include typography($size: 1.125rem, $weigth: 700);
}

.headline {
  @include typography($weigth: 600);
}

.body {
  @include typography($size: 0.875rem);
}

.body-600 {
  @include typography($size: 0.875rem, $weigth: 600);
}

.caption {
  @include typography($size: 0.75rem);
}

.counter {
  @include typography($size: 0.875rem, $weigth: 900);
}