.main {
  background-color: var(--color-white);
  padding: 1rem;

  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

@media (min-width: 850px) {
  .main {
    max-width: 800px;
  }
}

@media (min-width: 1050px) {
  .main {
    max-width: 1000px;
  }
}

@media (min-width: 1250px) {
  .main {
    max-width: 1200px;
  }
}

@media (min-width: 1650px) {
  .main {
    max-width: 1600px;
  }
}