.main {
  background-color: var(--color-white);
  padding: 1rem;

  width: 90%;
  max-width: 22rem;
  margin: 0 auto;

  overflow: hidden;
}

@media (max-width: 200px) {
  .main {
    max-width: 10rem;
  }
}

@media (max-width: 400px) {
  .main {
    max-width: 20rem;
  }
}

@media (min-width: 850px) {
  .main {
    max-width: 800px;
  }
}

@media (min-width: 1050px) {
  .main {
    max-width: 1000px;
  }
}

@media (min-width: 1250px) {
  .main {
    max-width: 1200px;
  }
}

@media (min-width: 1650px) {
  .main {
    max-width: 1600px;
  }
}